/*
 * Copyright 2013 Christian Hemp, Phytec Messtechnik GmbH
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx6q-phytec-pfla02.dtsi"
#include "imx6qdl-phytec-pbab01.dtsi"

/ {
	model = "Phytec phyFLEX-i.MX6 Quad Carrier-Board";
	compatible = "phytec,imx6q-pbab01", "phytec,imx6q-pfla02", "fsl,imx6q";

	aliases {
		ipu1 = &ipu2;
	};

	chosen {
		stdout-path = &uart4;
	};
	regulators {
		compatible = "simple-bus";
		/* Dummy regulators for the SMSC9220 as the driver doesn't honor
		* the supply entries in the dt
		*/
		smsc_vdd33a: vdd33a_dummy {
			compatible = "regulator-fixed";
			regulator-name = "vdd33a";
			regulator-always-on;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};
		smsc_vddvario: vddvario_dummy  {
			compatible = "regulator-fixed";
			regulator-name = "vddvario";
			regulator-always-on;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};
	};
};



&iomuxc {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_hog>, <&pinctrl_hog_2>;
    hog {
        pinctrl_hog_2: hoggrp2 {
            fsl,pins = <
                MX6QDL_PAD_DISP0_DAT22__GPIO5_IO16 0x80000000 /* Edge 2-color LED */
                MX6QDL_PAD_DISP0_DAT23__GPIO5_IO17 0x80000000 /* Edge 2-color LED */
                MX6QDL_PAD_EIM_EB1__GPIO2_IO29     0x100F1    /* WDT_nOE */
                MX6QDL_PAD_EIM_WAIT__GPIO5_IO00    0x130F1    /* WDT_WDI */

                MX6QDL_PAD_KEY_COL1__GPIO4_IO08         0x80000000 /* Dry Contact Output */
                MX6QDL_PAD_KEY_ROW1__GPIO4_IO09         0x80000000 /* Dry Contact Output */
                MX6QDL_PAD_CSI0_DAT10__GPIO5_IO28       0x80000000 /* Dry Contact Input */
                MX6QDL_PAD_CSI0_DAT11__GPIO5_IO29       0x80000000 /* Dry Contact Input */

            >;
        };
    };
    weim {

        /* Pin control for ETH1 via EIM bus */
        pinctrl_weimcs0_ksp5013: weimcs0-ksp5013 {
            fsl,pins = <
                /* nCS (GPIO9) */
                MX6QDL_PAD_EIM_CS0__EIM_CS0_B        0xb0b1
                /* IRQ input from PHY (4.7k PU on line) */
                MX6QDL_PAD_EIM_A24__GPIO5_IO04       0x1f0c1
            >;
        };
        pinctrl_weimcs1_ksp5013: weimcs1-ksp5013 {
            fsl,pins = <
                /* nCS (GPIO10) */
                MX6QDL_PAD_EIM_CS1__EIM_CS1_B        0xb0b1
                /* CNC the pullup on this line is in flux due to boot bug fix for pushpull */
                /* IRQ input from PHY (4.7k PU on line) */
                MX6QDL_PAD_EIM_D22__GPIO3_IO22       0x1f0c1
            >;
        };
        pinctrl_weim_ksp5013: weimfecgrp-ksp5013 {
            fsl,pins = <
                /* Control Lines */
                /* RD# */
                MX6QDL_PAD_EIM_OE__EIM_OE_B          0x1b0b1
                /* WR# */
                MX6QDL_PAD_EIM_RW__EIM_RW            0x1b0b1
                /* FIFO_SEL is output to PHY GPIO6_IO06 (no line pulls) */
                MX6QDL_PAD_EIM_A23__GPIO6_IO06       0x1b0b1
                /* PME Power Wakeup signal from PHY */
                MX6QDL_PAD_DISP0_DAT15__GPIO5_IO09   0x1f0c1

                /* Address Lines (SRE_FAST | HYS) */
                MX6QDL_PAD_EIM_DA1__EIM_AD01         0x0b0b1
                MX6QDL_PAD_EIM_DA2__EIM_AD02         0x0b0b1
                MX6QDL_PAD_EIM_DA3__EIM_AD03         0x0b0b1
                MX6QDL_PAD_EIM_DA4__EIM_AD04         0x0b0b1
                MX6QDL_PAD_EIM_DA5__EIM_AD05         0x0b0b1
                MX6QDL_PAD_EIM_DA6__EIM_AD06         0x0b0b1
                MX6QDL_PAD_EIM_DA7__EIM_AD07         0x0b0b1

                /* Data Lines (SRE_SLOW | ~HYS) */
                MX6QDL_PAD_CSI0_DATA_EN__EIM_DATA00  0x1b0b0
                MX6QDL_PAD_CSI0_VSYNC__EIM_DATA01    0x1b0b0
                MX6QDL_PAD_CSI0_DAT4__EIM_DATA02     0x1b0b0
                MX6QDL_PAD_CSI0_DAT5__EIM_DATA03     0x1b0b0
                MX6QDL_PAD_CSI0_DAT6__EIM_DATA04     0x1b0b0
                MX6QDL_PAD_CSI0_DAT7__EIM_DATA05     0x1b0b0
                MX6QDL_PAD_CSI0_DAT8__EIM_DATA06     0x1b0b0
                MX6QDL_PAD_CSI0_DAT9__EIM_DATA07     0x1b0b0
                MX6QDL_PAD_CSI0_DAT12__EIM_DATA08    0x1b0b0
                MX6QDL_PAD_CSI0_DAT13__EIM_DATA09    0x1b0b0
                MX6QDL_PAD_CSI0_DAT14__EIM_DATA10    0x1b0b0
                MX6QDL_PAD_CSI0_DAT15__EIM_DATA11    0x1b0b0
                MX6QDL_PAD_CSI0_DAT16__EIM_DATA12    0x1b0b0
                MX6QDL_PAD_CSI0_DAT17__EIM_DATA13    0x1b0b0
                MX6QDL_PAD_CSI0_DAT18__EIM_DATA14    0x1b0b0
                MX6QDL_PAD_CSI0_DAT19__EIM_DATA15    0x1b0b0
            >;
        };
    };
    fec {
        pinctrl_enet_ksp5013: fec1grp-ksp5013 {
            fsl,pins = <
                MX6QDL_PAD_EIM_D23__GPIO3_IO23       0x1b0b1 /* RGMII_nRST */
            >;
        };
    };

}; /* iomuxc */



/* KSZ9031 ETH0 on X12 */
&fec {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_enet &pinctrl_enet_ksp5013>;
    phy-mode = "rgmii";
    phy-reset-gpios = <&gpio3 23 0>;
    status = "okay";
};

&weim {
    pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_weim_ksp5013
                 &pinctrl_weimcs0_ksp5013 /* ETH2 */
                 &pinctrl_weimcs1_ksp5013 /* ETH1 */
                >;
    clocks = <
        &clks 196 /* eim_slow */
    >;
    clock-names = "eim_slow";
    status = "okay";
    #address-cells = <2>;
    #size-cells = <1>;
    ranges = <
        0 0 0x08000000 0x02000000
        1 0 0x0a000000 0x02000000
    >;
    /* ETH2 (DIO-Only) */
    smsc911x@0,0 {
        compatible = "smsc,lan9221", "smsc,lan9115";
        fsl,weim-cs=<0>;
        clocks = <&clks 196>;
        clock-names = "eim_slow";
        reg = <0 0 0x02000000>;
/*        smsc,memory = <0x00000000 0x01000000>;*/
        phy-mode = "mii";
        #interrupt-cells = <2>;
        interrupt-parent = <&gpio5>;
        interrupts = <4 0x8>;
        interrupt-names = "smsc911x-irq";
/*        smsc,irq = <4>; */

        /* 16-bit i/f */
        reg-shift = <1>;
        reg-io-width = <2>;
        vdd33a-supply = <&smsc_vdd33a>;
        vddvario-supply = <&smsc_vddvario>;
        smsc,save-mac-address;
        smsc,irq-push-pull;
        smsc,force-internal-phy;
		fsl,weim-cs-timing-name = "sync","async";
        fsl,weim-cs-timing = <
           0x152102B7 /* EIM_CSnGCR1 sync */
           0x00000000 /* EIM_CSnGCR2 sync */
           0x06080000 /* EIM_CSnRCR1 sync */
           0x00000100 /* EIM_CSnRCR2 sync */
           0xC4400000 /* EIM_CSnWCR1 sync */
           0x00000000 /* EIM_CSnWCR2 both */
        >;
        fsl,weim-cs-timing-0 = <
           0x152102B7 /* EIM_CSnGCR1 sync */
           0x00000000 /* EIM_CSnGCR2 sync */
           0x06080000 /* EIM_CSnRCR1 sync */
           0x00000100 /* EIM_CSnRCR2 sync */
           0xC4400000 /* EIM_CSnWCR1 sync */
           0x00000000 /* EIM_CSnWCR2 both */
        >;
        fsl,weim-cs-timing-1 = <
           0x00010031 /* EIM_CSnGCR1 async */
           0x00000000 /* EIM_CSnGCR2 async */
           0x16027202 /* EIM_CSnRCR1 async */
           0x00000002 /* EIM_CSnRCR2 async */
           0x16080E82 /* EIM_CSnWCR1 async */
           0x00000000 /* EIM_CSnWCR2 both */
        >;
    };
    /* ETH1 (RJ45) */
    smsc911x@1,0 {
        compatible = "smsc,lan9221", "smsc,lan9115";
        fsl,weim-cs=<1>;
        clocks = <&clks 196>;
        clock-names = "eim_slow";
        reg = <1 0 0x02000000>;
/*        smsc,memory = <0x00000000 0x01000000>;*/
        phy-mode = "mii";
        #interrupt-cells = <2>;
        interrupt-parent = <&gpio3>;
        interrupts = <22 0x8>;
        interrupt-names = "smsc911x-irq";
/*        smsc,irq = <22>; */

        /* 16-bit i/f */
        reg-shift = <1>;
        reg-io-width = <2>;
        vdd33a-supply = <&smsc_vdd33a>;
        vddvario-supply = <&smsc_vddvario>;
        smsc,save-mac-address;
        smsc,irq-push-pull;
        smsc,force-internal-phy;
		fsl,weim-cs-timing-name = "sync","async";
        fsl,weim-cs-timing = <
           0x152102B7 /* EIM_CSnGCR1 sync */
           0x00000000 /* EIM_CSnGCR2 sync */
           0x06080000 /* EIM_CSnRCR1 sync */
           0x00000100 /* EIM_CSnRCR2 sync */
           0xC4400000 /* EIM_CSnWCR1 sync */
           0x00000000 /* EIM_CSnWCR2 both */
        >;
        fsl,weim-cs-timing-0 = <
           0x152102B7 /* EIM_CSnGCR1 sync */
           0x00000000 /* EIM_CSnGCR2 sync */
           0x06080000 /* EIM_CSnRCR1 sync */
           0x00000100 /* EIM_CSnRCR2 sync */
           0xC4400000 /* EIM_CSnWCR1 sync */
           0x00000000 /* EIM_CSnWCR2 both */
        >;

        fsl,weim-cs-timing-1 = <
           0x00010031 /* EIM_CSnGCR1 async */
           0x00000000 /* EIM_CSnGCR2 async */
           0x16027202 /* EIM_CSnRCR1 async */
           0x00000002 /* EIM_CSnRCR2 async */
           0x16080E82 /* EIM_CSnWCR1 async */
           0x00000000 /* EIM_CSnWCR2 both */
        >;

    };
};



&ecspi5 {
	status = "okay";

	spi@0 {
		compatible = "spidev";
		spi-max-frequency = <57600000>;
		reg = <0>;
	};

	spi@1 {
		compatible = "spidev";
		spi-max-frequency = <57600000>;
		reg = <1>;
	};
};

&i2c3 {
	status = "okay";

	mt9p031_1: mt9p031@5d {
		compatible = "aptina,mt9p031";
		status = "disabled";
		reg = <0x5d>;
		vdd-supply = <&reg_vcc_cam1>;
		vdd_io-supply = <&reg_vcc_cam1>;
		vaa-supply = <&reg_vcc_cam1>;

		clocks = <&phytec_mediabus 1>;

		port {
			mt9p031_ep1: endpoint {
				input-clock-frequency = <54000000>;
				pixel-clock-frequency = <54000000>;
				pclk-sample = <1>;
				remote-endpoint = <&csi1_ep>;
			};
		};
	};

	mt9v024m_1: mt9v024m@4c {
		compatible = "aptina,mt9v024m";
		reg = <0x4c>;
		status = "disabled";

		clocks = <&phytec_mediabus 1>;

		port {
			mt9v024m_ep1: endpoint {
				link-frequencies = /bits/ 64
					<27000000>;
				pclk-sample = <0>;
				remote-endpoint = <&csi1_ep>;
			};
		};
        };

	mt9m111_1: mt9m111@5d {
		compatible = "micron,mt9m111";
		status = "disabled";
		reg = <0x5d>;

		clocks = <&phytec_mediabus 1>;
		clock-names = "mclk";
		port {
			mt9m111_ep1: endpoint {
				bus-width = <8>;
				remote-endpoint = <&csi1_ep>;
			};
		};
	};

	mt9m001_1: mt9m001@5d_1 {
		compatible = "aptina,mt9m001";
		status = "disabled";
		reg = <0x5d>;

		clocks = <&phytec_mediabus 1>;
		port {
			mt9m001_ep1: endpoint {
				bus-width = <8>;
				link-frequencies = /bits/ 64
					<36000000 43200000>;
				remote-endpoint = <&csi1_ep>;
			};
		};
	};

	tw9910_1: tw9910@44 {
		compatible = "techwell,tw9910";
		status = "disbaled";
		reg = <0x44>;

		clocks = <&phytec_mediabus 1>;

		port {
			tw9910_ep1: endpoint {
				bus-width = <8>;
				mpout = <7>;
				link-frequencies = /bits/ 64 <27000000>;
				remote-endpoint = <&csi1_ep>;
			};
		};
	};
};

&ipu1_csi0 {
	status = "disabled";
};
&ipu2_csi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "disabled";

	/* Parallel bus */
	csi1_ep: endpoint {
		bus-width = <8>;
		remote-endpoint = <&mt9p031_ep1>;
	};
};

&phytec_mediabus {
	pinctrl-names = "default";
	status = "disabled";
	pinctrl-0 = <&pinctrl_cam0data
			&pinctrl_cam0clk
			&pinctrl_cam0switch
			&pinctrl_cam1data
			&pinctrl_cam1clk
			&pinctrl_cam1switch>;

	phytec,cam1_data_en-gpio = <&gpio3 10 GPIO_ACTIVE_LOW>;
	phytec,cam1_npwrdn-gpio  = <&gpio2 28 GPIO_ACTIVE_LOW>;

	camera0@0 {
		status = "disabled";
	};
	camera1@0 {
		status = "disabled";
	};
};

&sata {
	status = "disabled";
};

&hdmi {
	status = "disabled";
};

