/*
 * Copyright 2013 Christian Hemp, Phytec Messtechnik GmbH
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx6q-phytec-pfla02.dtsi"
#include "imx6qdl-phytec-pbab01.dtsi"

/ {
	model = "Phytec phyFLEX-i.MX6 Quad Carrier-Board";
	compatible = "phytec,imx6q-pbab01", "phytec,imx6q-pfla02", "fsl,imx6q";

	aliases {
		ipu1 = &ipu2;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		vcc_3v3: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "vcc_3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		vdd_3v3_logic: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "vdd_3v3_logic";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	chosen {
		stdout-path = &uart4;
	};
};

&ecspi5 {
	status = "okay";

	spi@0 {
		compatible = "spidev";
		spi-max-frequency = <57600000>;
		reg = <0>;
	};

	spi@1 {
		compatible = "spidev";
		spi-max-frequency = <57600000>;
		reg = <1>;
	};
};

&i2c3 {
	status = "okay";

	mt9p031_1: mt9p031@5d {
		compatible = "aptina,mt9p031";
		status = "disabled";
		reg = <0x5d>;
		vdd-supply = <&reg_vcc_cam1>;
		vdd_io-supply = <&reg_vcc_cam1>;
		vaa-supply = <&reg_vcc_cam1>;

		clocks = <&phytec_mediabus 1>;

		port {
			mt9p031_ep1: endpoint {
				input-clock-frequency = <54000000>;
				pixel-clock-frequency = <54000000>;
				pclk-sample = <1>;
				remote-endpoint = <&csi1_ep>;
			};
		};
	};

	mt9v024m_1: mt9v024m@4c {
		compatible = "aptina,mt9v024m";
		reg = <0x4c>;
		status = "disabled";

		clocks = <&phytec_mediabus 1>;

		port {
			mt9v024m_ep1: endpoint {
				link-frequencies = /bits/ 64
					<27000000>;
				pclk-sample = <0>;
				remote-endpoint = <&csi1_ep>;
			};
		};
        };

	mt9m111_1: mt9m111@5d {
		compatible = "micron,mt9m111";
		status = "disabled";
		reg = <0x5d>;

		clocks = <&phytec_mediabus 1>;
		clock-names = "mclk";
		port {
			mt9m111_ep1: endpoint {
				bus-width = <8>;
				remote-endpoint = <&csi1_ep>;
			};
		};
	};

	mt9m001_1: mt9m001@5d_1 {
		compatible = "aptina,mt9m001";
		status = "disabled";
		reg = <0x5d>;

		clocks = <&phytec_mediabus 1>;
		port {
			mt9m001_ep1: endpoint {
				bus-width = <8>;
				link-frequencies = /bits/ 64
					<36000000 43200000>;
				remote-endpoint = <&csi1_ep>;
			};
		};
	};

	tw9910_1: tw9910@44 {
		compatible = "techwell,tw9910";
		status = "disbaled";
		reg = <0x44>;

		clocks = <&phytec_mediabus 1>;

		port {
			tw9910_ep1: endpoint {
				bus-width = <8>;
				mpout = <7>;
				link-frequencies = /bits/ 64 <27000000>;
				remote-endpoint = <&csi1_ep>;
			};
		};
	};
};

&ipu2_csi1 {
	#address-cells = <1>;
	#size-cells = <0>;

	/* Parallel bus */
	csi1_ep: endpoint {
		bus-width = <8>;
		remote-endpoint = <&mt9p031_ep1>;
	};
};

&phytec_mediabus {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_cam0data
			&pinctrl_cam0clk
			&pinctrl_cam0switch
			&pinctrl_cam1data
			&pinctrl_cam1clk
			&pinctrl_cam1switch>;

	phytec,cam1_data_en-gpio = <&gpio3 10 GPIO_ACTIVE_LOW>;
	phytec,cam1_npwrdn-gpio  = <&gpio2 28 GPIO_ACTIVE_LOW>;

	camera1@0 {

	};
};

&sata {
        status = "disabled";
};

&hdmi {
	status = "disabled";
};

&iomuxc {
	weim {
		/* Pin control for ETH1 via EIM bus */
		pinctrl_weim_cs0: weim_cs0 {
			fsl,pins = <
				/* nCS (GPIO9) */
				MX6QDL_PAD_EIM_CS0__EIM_CS0_B        0xb0b1
				/* IRQ input from PHY */
				MX6QDL_PAD_EIM_A24__GPIO5_IO04       0x1f0c1
				/* PME Power Wakupe signal from PHY */
				MX6QDL_PAD_GPIO_16__GPIO7_IO11       0x1f0c1
			>;
		};

		pinctrl_weim_cs1: weim_cs1 {
			fsl,pins = <
				/* nCS (GPIO10) */
				MX6QDL_PAD_EIM_CS1__EIM_CS1_B        0xb0b1
				/* IRQ input from PHY (4.7k PU on line) */
				MX6QDL_PAD_EIM_D22__GPIO3_IO22       0x1f0c1
				/* PME Power Wakeup signal from PHY */
				MX6QDL_PAD_DISP0_DAT15__GPIO5_IO09   0x1f0c1
			>;
		};

		pinctrl_weim_bus: weim_bus {
			fsl,pins = <
				/* Control Lines */
				/* RD# */
				MX6QDL_PAD_EIM_OE__EIM_OE_B          0x1b0b1
				/* WR# */
				MX6QDL_PAD_EIM_RW__EIM_RW            0xb0b1
				/* FIFO_SEL */
				MX6QDL_PAD_EIM_A23__GPIO6_IO06       0xf0b1

				/* Address Lines (SRE_FAST) */
				MX6QDL_PAD_EIM_DA1__EIM_AD01         0xb0b1
				MX6QDL_PAD_EIM_DA2__EIM_AD02         0xb0b1
				MX6QDL_PAD_EIM_DA3__EIM_AD03         0xb0b1
				MX6QDL_PAD_EIM_DA4__EIM_AD04         0xb0b1
				MX6QDL_PAD_EIM_DA5__EIM_AD05         0xb0b1
				MX6QDL_PAD_EIM_DA6__EIM_AD06         0xb0b1
				MX6QDL_PAD_EIM_DA7__EIM_AD07         0xb0b1

				/* Data Lines (HYS | SRE_SLOW) */
				MX6QDL_PAD_CSI0_DATA_EN__EIM_DATA00  0x1b0b0
				MX6QDL_PAD_CSI0_VSYNC__EIM_DATA01    0x1b0b0
				MX6QDL_PAD_CSI0_DAT4__EIM_DATA02     0x1b0b0
				MX6QDL_PAD_CSI0_DAT5__EIM_DATA03     0x1b0b0
				MX6QDL_PAD_CSI0_DAT6__EIM_DATA04     0x1b0b0
				MX6QDL_PAD_CSI0_DAT7__EIM_DATA05     0x1b0b0
				MX6QDL_PAD_CSI0_DAT8__EIM_DATA06     0x1b0b0
				MX6QDL_PAD_CSI0_DAT9__EIM_DATA07     0x1b0b0
				MX6QDL_PAD_CSI0_DAT12__EIM_DATA08    0x1b0b0
				MX6QDL_PAD_CSI0_DAT13__EIM_DATA09    0x1b0b0
				MX6QDL_PAD_CSI0_DAT14__EIM_DATA10    0x1b0b0
				MX6QDL_PAD_CSI0_DAT15__EIM_DATA11    0x1b0b0
				MX6QDL_PAD_CSI0_DAT16__EIM_DATA12    0x1b0b0
				MX6QDL_PAD_CSI0_DAT17__EIM_DATA13    0x1b0b0
				MX6QDL_PAD_CSI0_DAT18__EIM_DATA14    0x1b0b0
				MX6QDL_PAD_CSI0_DAT19__EIM_DATA15    0x1b0b0
			>;
		};
	};
};

&weim {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_weim_bus &pinctrl_weim_cs0 &pinctrl_weim_cs1>;

	#address-cells = <2>;
	#size-cells = <1>;
	ranges = <0 0 0x08000000 0x04000000
		  1 0 0x0c000000 0x04000000>;
	fsl,weim-cs-gpr = <&gpr>;

	smsc911x_eth1: weim@1,0 {
		compatible = "smsc,lan9221", "smsc,lan9115";
		reg = <1 0 0x04000000>;

		vdd33a-supply = <&vcc_3v3>;
		vddvario-supply = <&vdd_3v3_logic>;

		#interrupt-cells = <2>;
		interrupt-parent = <&gpio3>;
		interrupts = <22 0x8>;

		phy-mode = "mii";

		reg-shift = <1>;
		reg-io-width = <2>;
		smsc,irq-push-pull;
		smsc,force-internal-phy;
		smsc,save-mac-address;

		fsl,weim-cs = <1>;
		fsl,weim-cs-timing = <0x006100B1 /* EIM_CSnGCR1 */
				      0x00000000 /* EIM_CSnGCR2 */
				      0x04080000 /* EIM_CSnRCR1 */
				      0x00000000 /* EIM_CSnRCR2 */
				      0xC4000000 /* EIM_CSnWCR1 */
				      0x00000000 /* EIM_CSnWCR2 */
		>;
	};

	smsc911x_eth2: weim@0,0 {
		compatible = "smsc,lan9221", "smsc,lan9115";
		reg = <0 0 0x04000000>;

		vdd33a-supply = <&vcc_3v3>;
		vddvario-supply = <&vdd_3v3_logic>;

		#interrupt-cells = <2>;
		interrupt-parent = <&gpio5>;
		interrupts = <4 0x8>;

		phy-mode = "mii";

		reg-shift = <1>;
		reg-io-width = <2>;
		smsc,irq-push-pull;
		smsc,force-internal-phy;
		smsc,save-mac-address;

		fsl,weim-cs = <0>;
		fsl,weim-cs-timing = <0x006100B1 /* EIM_CSnGCR1 */
				      0x00000000 /* EIM_CSnGCR2 */
				      0x04080000 /* EIM_CSnRCR1 */
				      0x00000000 /* EIM_CSnRCR2 */
				      0xC4000000 /* EIM_CSnWCR1 */
				      0x00000000 /* EIM_CSnWCR2 */
		>;
	};
};
